@use "/src/sass/base/variables.scss" as *;

.about {
  padding-top: 50px;
  .title-bold {
    margin-top: 60px;
    font-size: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 60px;
  }

  &__image-column img {
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.25);
  }

  &__text-column {
    p {
      color: $dark;
      font-size: 16px;
      margin-bottom: 35px;
      text-align: left;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {

    .title-bold {
        font-size: 36px;
    }

    &__content {
        margin-top: 58px;
    }

    &__image-column img {
        width: 600px;
        height: 412px;
        margin: 0 auto;
    }

    &__text-column {
        margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    &__content {
        flex-direction: row;
        gap: 20px;
        width: 1140px;
        height: 378px;
        margin: 60px auto 0;
    }

    &__image-column {
        flex: 1;
    }

    &__text-column {
        flex: 1;
    }
  }
}

@media screen and (min-width: 1920px) {
  .about {
    padding-top: 40px;

    &__heading {
      margin-top: 100px;
      font-size: 36px;
    }

    &__content {
        margin-top: 100px;
        width: 1440px;
        height: 481px;
    }

    &__image-column img {
        width: 700px;
        height: 481px;
    }

    &__text-column p {
      font-size: 20px;
    }
  }
}
