@use "/src/sass/base/variables.scss" as *;

.header {
  &__logo {
    width: 100px;
    height: 100px;
  }

  &__icons {
    display: flex;
    align-items: flex-start;
    gap: 15px;

    a {
      display: block;
      color: $dark;

      span {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: none;
  }

  /* Мобильное меню */
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 50px 10px;
    background-color: $light;
    transform: translateX(-100%);
    transition: transform 0.4s;
    z-index: 1000;

    &_active {
      transform: translateX(0);
    }

    &-close {
      width: 20px;
      height: 20px;
      position: relative; // для центровки линий
      cursor: pointer;

      span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 2px; // чуть толще для видимости
        background-color: $dark;
        transform-origin: center;
        transition: 0.3s;

        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }

    &-nav {
      margin-top: 50px;
      padding-left: 14px;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding: 0;
        list-style: none;
      }
    }

    &-link {
      color: $dark;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 23px;
  padding-right: 35px;
  cursor: pointer;

  span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: $dark;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__nav {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 20px;
    }

    &__link {
      color: $dark;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
    }

    &__menu {
      display: none;
    }
  }

  .burger {
    visibility: hidden;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &__logo {
      width: 150px;
      height: 151px;
    }

    &__nav {
      margin-top: 36px;
      gap: 60px;
    }
  }
}
