.map {
    &__map {
        display: block;
        margin: 60px auto 0;
        width: 340px;
        height: 206px;
    }

    @media screen and (min-width: 768px) {
        &__map {
            margin: 60px auto 0;
            width: 663px;
            height: 400px;
        }
    }

    @media screen and (min-width: 1200px) {
        &__map {
            width: 663px;
            height: 500px;
        }
    }

    @media screen and (min-width: 1920px) {
        &__map {
            width: 900px;
            height: 600px;
        }
    }
}